.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.order_div{
  min-height: 680px;
}

.not_main_div{
  min-height: 680px;
}

.header-div{
  max-height: 680px;
}

.order_scroll_div{
  height: 580px;
  overflow-y: auto;
}

.chat-messages {
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    display:flex;
    flex-direction:column-reverse;
}

img.avatar{
  width: 35px;
  height: 35px;
}
.chat-message-left,
.chat-message-right {
    display: block;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

.download{
  margin-top: 4px;
}
.image_download{
  margin-top: -10px;
}
.ms-n2 {
  margin-left: -0.5rem!important;
}
.mt-n2 {
  margin-top: -0.5rem!important;
}
.h-15px {
  height: 15px!important;
}
.w-15px {
  width: 15px!important;
}
.bg-light-danger{
  background-color: #fff5f8!important;
}
.text-info{
  color: #7239ea!important;
}

.symbol .symbol-badge {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 100%;
  top: 108%;
  left: 100%;
  transform: translateX(-50%) translateY(-50%)!important;
}
.media{
  max-height: 90px;
}

.media_video{
  max-height: 180px;
}

.ms-3{
  margin-left: 0.75rem!important;
}

.me-1 {
  margin-right: 0.25rem!important;
}

.mb-1 {
  margin-bottom: 0.25rem!important;
}

.scroll_div::-webkit-scrollbar {
  width: 5px;
}

.order_scroll_div::-webkit-scrollbar{
  width: 5px;
}

.order_scroll_div::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 5px;
}

.order_scroll_div::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 5px;
  background: #6d6d6d;
}

.scroll_div::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 5px;
}

.scroll_div::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 5px;
  background: #6d6d6d;
}

.card-footer {
  background-color: white;
  border-top: 1px solid #eff2f5;
}

.form-control.form-control-flush {
  border: 0;
  background-color: transparent;
  outline: 0!important;
  box-shadow: none;
  border-radius: 0;
}

.flex-stack {
  justify-content: space-between;
  align-items: center;
}

#file-area > label > input {
  display: none !important;
}

.btn-circle {
  width: 45px;
  height: 45px;
  padding: 2px 4px;
  border-radius: 0.475rem;
  font-size: 16px;
  line-height: 1.33;
}

@media only screen and (max-width: 768px) {
  .header-div{
    min-height: 400px;
  }
  .scroll_div{
    min-height: 350px;
  }
  .order_div{
    min-height: auto;
  }
  .not_main_div{
    min-height: 400px;
  }
  .order_scroll_div{
    height: 300px;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1020px)
{
  .header-div{
    min-height: 400px;
  }
  .scroll_div{
    min-height: 350px;
  }
  .order_div{
    min-height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .order_div{
    min-height: auto;
  }
  .header-div{
    min-height: 300px;
  }
  .not_main_div{
    min-height: 300px;
  }
  .order_scroll_div{
    height: 300px;
  }
  .scroll_div{
    max-height: 250px;
  }
  img.overlay-wrapper{
    height: 150px !important;
  }
}

.symbol.symbol-circle, .symbol.symbol-circle .symbol-label, .symbol.symbol-circle>img {
  border-radius: 50%;
}

.symbol {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.475rem;
}

.symbol.symbol-45px .symbol-label {
  width: 45px;
  height: 45px;
}

.symbol.symbol-circle, .symbol.symbol-circle .symbol-label, .symbol.symbol-circle>img {
  border-radius: 50%;
}

.symbol .symbol-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #3f4254;
  background-color: #f5f8fa;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0.475rem;
}
