footer{display:inline-block;width:100%}.newsletter{background:#000;padding:40px 0}.newsletter .text-white{color:#fff}.newsletter .left h4{color:#fff;font-size:14px;font-weight:400;line-height:18px;letter-spacing:.6px}.newsletter .signup-form .form{position:relative}.newsletter .signup-form input[type=email]{width:100%;border:1px solid #c1c1c1;border-radius:0;font-size:16px;height:40px;padding:0 15px}.newsletter .signup-form input[type=button]{background:url(/assimages/payment/telegram-plane.svg);background-repeat:no-repeat;width:35px;height:30px;position:absolute;right:5px;top:50%;transform:translateY(-50%);border:none;font-size:0;padding:0}.footer-top{padding:60px 0 10px;background:#f9f9f9}.footer-top .footer-title{font-size:14px;text-transform:uppercase;font-weight:600;margin:0 0 10px}.footer-top .footer-links{list-style:none;margin:0 0 15px;padding:0;text-align:left}.footer-top .footer-links li{margin:0 0 5px;text-align:left}.footer-top .footer-links li:last-of-type{margin:0}.footer-top .footer-links.list-inline li{display:inline-block;margin-right:5px}.footer-top .footer-links.list-inline li:last-of-type{margin-right:0}.footer-top .footer-links li a{color:#000;font-size:13px}.footer-top .about{font-size:13px;line-height:18px}.footer-top .footer-links.social-link li a{font-size:18px}@media(max-width:575px){.newsletter h2{font-size: 20px;}.newsletter{padding:5px 0 30px}.newsletter .text-white{margin-bottom:10px}.footer-top{padding:30px 0 0}.footer-top .footer-title.mob-accordion{border:1px solid #c1c1c1;margin-bottom:20px;padding:10px;position:relative}.footer-top .footer-title.mob-accordion.active{margin-bottom:0}.footer-top .footer-title.mob-accordion:after{content:'';border-top:1.5px solid #000;border-right:1.5px solid #000;display:inline-block;height:10px;width:10px;position:absolute;right:15px;top:11px;transition:all .3s ease;transform:rotate(135deg) skew(5deg)}.footer-top .footer-links.mob-accordion-data{border:1px solid #c1c1c1;border-top:none;border-radius:0 0 3px 3px;margin-left:0;display:none}.footer-top .footer-links.active{padding:10px;display:block}.footer-top .footer-title.reg-office{margin-top:10px}.footer-top .footer-links{margin:0 0 20px}.footer-top .footer-links.list-inline li{margin-right:10px}}@media(max-width:359px){.newsletter .left h4 br{display:none}}
.footer-bottom {
  padding: 10px 0;
  background: #000;
  font-size: 17px;
}
.footer-nav-container nav ul li {
  padding: 1px !important;
}

.footer-container.footer-one {
  background: #f9f9f9;
}

.footer-single-widget h5.widget-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 10px;
  font-style: bold !important;
}

h5.footer_heading{
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 10px;
  font-style: bold !important;
}
.footer-nav-container nav ul li a {
  color: #000 !important;
  font-size: 13px;
  text-decoration: none !important;
}
.footer-nav-container nav ul li a:hover {
  text-decoration: none !important;
  color: #ff5722;
}

p.about{
  color: #000 !important;
}

h4{
  border-left : 1px solid white;
}
@media only screen and (max-width: 600px) {
  h4{
    border: none !important;
  }
}

.f-50{
  flex-basis: 50%;
}

.f-50-logo{
  flex-basis: 50%;
  margin-left: 10px
}


.review_widget {
  margin-right: 35px;
}

.shop_widget{
  margin-right: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .footer-top .footer-links.list-inline li {
    margin-right: 2px;
  }

  .f-50{
    flex-basis: 60%;
  }

  .f-50-logo{
    flex-basis: 40%;
  }

  .review_widget {
    margin-right: 0px;
  }

  .shop_widget{
    margin-right: 0px;
  }
}

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
  .newsletter h3{
      font-size: 18px;
    }
    .review_widget {
      margin-right: 0px;
    }
    .footer_grid .col-lg-1{
      margin-left: -20px;
      max-width: 10.333333% !important;
      flex: 0 0  10.333333% !important;
    }
    .f-50{
      flex-basis: 60%;
    }
    .footer-top .footer-links.list-inline li {
      margin-right: 2px;
    }
    .f-50-logo{
      flex-basis: 40%;
    }
    .shop_widget{
      margin-right: 0px;
    }
  }

  @media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .shop_widget{
      margin-right: 0px;
    }
    .footer_grid .col-xl-1{
      max-width: 10.333333% !important;
      flex: 0 0  10.333333% !important;
    }
  }

  @media only screen and (max-width: 480px) {
    .review_widget {
      margin-right: 0px;
    }

    .shop_widget{
      margin-right: 0px;
    }

    .f-50{
      flex-basis: 60%;
    }
    .footer-top .footer-links.list-inline li {
      margin-right: 5px;
  }
  }

  @media only screen and (max-width: 540px) {
    .review_widget {
      margin-right: 0px;
    }

    .shop_widget{
      margin-right: 0px;
    }
  }
