
/* the slides */
.slick-slide {
  margin: 0 10px;
}

/* the parent */
.slick-list {
  margin: 0 -10px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.error.text-danger {
  font-size: 12px;
}

.sidebar-btn .dark-light {
  display: none !important;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: orange;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

.offcanvas-cart-content-container .cart-product-wrapper .cart-product-container .single-cart-product .content h5 {
  font-size: 15px;
  line-height: 17px;
  width: 225px;
}

.shop-product__small-image-gallery-slider .slick-track {
  margin-left: 0;
  margin-right: 0;
}

.checkout-form .nice-select .list {
  width: 100%;
  height: 220px;
  overflow-y: scroll;
}

.breadcrumb-title {
  font-size: 22px;
  line-height: 0.8 !important;
  color: #333333 !important;
  margin-bottom: 6px !important;
}

.main_list li:last-child ul.sub-menu{
  transform: translateX(-150px);
}

/* header css */
.header-bottom-container .logo-with-offcanvas {
  flex-basis: 15%;
}

.search_form_mobile {
  position: relative;
  width: 100% !important;
}

.search_form {
  width: 70% !important;
  position: relative;
}

.search_form .form-control{
  font-weight: 200;
}

.search_form_mobile .form-control{
  font-weight: 100;
  font-size: 0.85rem;
}

.search_form input,
.search_form_mobile input {
  border-radius: 6px;
  padding: 20px;
  border: 1px solid #b9b9b9;
}

.pt-20 {
  padding-top: 12px !important;
}

nav.site-nav>ul>li {
  margin: 5px 60px 5px 0px;
  line-height: 24px;
}
nav.site-nav > ul > li.menu-item-has-children > a {
font-size: 14px;
}

.category_link {
  color: #ffffff !important;
}

.category_link :hover {
  color: #ffffff !important;
}

.main_category {
  background-color: #252525;
  margin-top: 10px;
  margin-bottom: 12px;
}

.search_form .form-control:focus {
  border-color: black;
  box-shadow: none;
}

.search_form_mobile .form-control:focus {
  border-color: black;
  box-shadow: none;
}

.search_form_mobile .main_div {
  position: absolute;
  top: 50%;
  right: 0px;
  padding: 0px 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search_form_mobile .main_div button {
  color: #cccccc;
  border: none;
  background: none;
  font-size: 25px;
}

.search_form .main_div {
  position: absolute;
  top: 50%;
  right: 0px;
  padding: 0px 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search_form .main_div button {
  color: #cccccc;
  border: none;
  background: none;
  font-size: 25px;
}

nav.site-nav>ul>li>a:after {
  bottom: 0px;
}

.dropdown-menu {
  width: 100% !important;
}

/* .offer_info {
  width: 93%;
  min-height: 20px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */

.offer_info_link {
  color: white;
  font-size: 14px;
}

.offer_info_link:hover {
  color: white;
}

nav.site-nav{
  position: relative;
}
.left_scroll{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.right_scroll{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

nav.site-nav button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

#category_scroll{
  overflow-x:auto;
  white-space: nowrap;
}

#category_scroll::-webkit-scrollbar{
  display: none;
  width: 0px;
}

a.dropdown-item {
  white-space: normal;
}

.about-overlay .overlay-content {
  width: 290px;
  padding: 55px 20px;
}

a.login_link:hover {
  color: black;
}

.twitter-typeahead {
  width: 100%;
}

.single-category{
  height: 220px;
}

.single-category__image{
  border-radius: 4px;
}

/* .single-category__image img{
  height: 220px;
  object-fit: cover;
} */

nav.site-nav > ul > li ul.single-column-menu {
  max-height: 700px;
  white-space: nowrap;
  overflow-y: scroll;
}

ul.single-column-menu::-webkit-scrollbar {
  width: 4px;
}

/* ul.single-column-menu::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
} */

ul.single-column-menu::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

/* Clever & unique ideas */

.single-category__content--three--creativehome .title p>a {
  font-size: 16px !important;
  line-height: 22px;
}

.single-category__content--three--banner .title > a {
  border: 1px solid #7e7a7a;
  line-height: 21px;
  color: #000000 !important;
  background: none;
}

.single-category__content--three--creativehome .title a {
    transform: translateY(0);
    position: static;
    visibility: visible;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 500;
}

.single-category__content--three--creativehome {
  bottom: 30px;
  left: 24px;
}
.caption_button{
  font-size: 12px !important;
  padding: 4px 8px !important;
  border-radius: 4px !important;
  border-color: #333;
}
a.caption_button:hover{
  background: black;
  color: white !important;
}


.divider-custom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom .divider-custom-icon {
color: #777777;
opacity: 0.3;
}

.divider-custom .divider-custom-line {
width: 100%;
max-width: 7.5rem;
background-color: #2c3e50;
border: 1px inset;
border-width: thin;
opacity: 0.3;
}
.divider-custom .divider-custom-line-1 {
width: 100%;
max-width: 4rem;
background-color: #2c3e50;
border: 1px inset;
border-width: thin;
opacity: 0.3;
}

p.idea_content{
  margin-top:15px;
  margin-bottom:10px;
  text-align: justify;
  text-align-last: center;
  font-size: 14px;
}

span.quality_span{
  font-size: 12px;
  line-height: 2px;
  color: black !important;
}

h3.quality_h3{
  line-height: 8px;
}





/*media query */
@media only screen and (max-width: 767px) {
  .header-bottom-container .header-right-container {
    flex-basis: 72%;
  }

  .header-bottom-container .logo-with-offcanvas {
    flex-basis: 32%;
  }
}

@media only screen and (max-width: 479px) {
  .header-right-icons .single-icon {
    margin-left: 8px;
  }

  .header-right-icons {
    float: right;
  }
}

@media only screen and (max-width: 600px) {

  .header-bottom {
    padding-top: 0px !important;
  }

  .offer_info {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1024px) {
  nav.site-nav>ul>li ul.single-column-menu {
    min-width: auto;
  }
}

@media only screen and (max-width: 280px) {
  h3.quality_h3{
    line-height: 30px;
    font-size: 24px !important;
  }
}

@media only screen and (max-width: 480px) {
  h3.quality_h3{
    line-height: 30px;
  }
  /* .single-category__content--three--creativehome {
    bottom: 10px;
  } */
  .single-category{
    height: 220px !important;
    width: auto;
  }
  .single-category__image img {
    height: 220px !important;
  }
  .banner_side {
    padding-right: 15px !important;
    padding-left: 15px !important;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
.header-right-icons {
  float: right;
}

.header-bottom-container .logo-with-offcanvas {
  flex-basis: 40%;
}

.header-bottom-container .header-right-container {
  flex-basis: 60%;
}
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
ul.main_list{
  margin-left: 30px;
  margin-right: 30px;
}
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
.website_trust .col-xl-9{
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
ul.main_list{
  margin-left: 30px;
  margin-right: 30px;
}
nav.site-nav .d-xl-none{
  display: block !important;
}

.hover-banner-area .mb-30 {
  padding-bottom: 15px;
}
}

/* @media only screen and (min-width: 1280px) and (max-width: 1288px) {
  .single-category{
    width: auto;
  }
}
 */

/* screen 1600*900 */
@media  screen and (max-width: 1600px) {
  nav.site-nav .d-xl-none {
    display: block !important;
  }
  ul.main_list{
    margin-left: 40px;
    margin-right: 40px;
  }
  nav.site-nav > ul > li ul.single-column-menu {
    max-height: 610px;
  }
  .single-category{
    height: 207px;
    width: 363px;
  }
  .single-category__content--three--creativehome {
    left: 28px;
  }
  .single-category__image img {
    height: 207px;
  }
  .hover-banner-area .mb-30{
    margin-bottom:18px !important;
  }
}

/* screen 1366*768 */
@media  screen and (max-width: 1366px) {
  nav.site-nav > ul > li ul.single-column-menu {
    max-height: 500px;
  }
  .single-category{
    height:175px;
    width: auto;
  }
  .single-category__image img {
    height:175px;
  }
  .hover-banner-area .mb-30{
    margin-bottom: 16px !important;
    padding-bottom: 0px;
  }
  .banner_side{
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
  }
  .single-category__content--three--creativehome {
    left: 18px;
  }
}

/* screen 1920*1080 */
@media  screen and (min-device-width: 1920px) {
  .single-category{
    height: 250px;
  }
  .single-category__content--three--creativehome {
    left: 42px;
  }
  .caption_button {
    font-size: 14px !important;
  }
  .hover-banner-area .mb-30{
    margin-bottom: 16px !important;
  }
  .banner_side{
    padding-right: 8px;
    padding-left: 8px;
  }
  .single-category__content--three--banner .title > a {
  line-height: 26px;
  }
  .single-category__content--three--creativehome .title p>a {
    font-size: 22px !important;
    line-height: 30px;
  }
}

/* (640x360 and 667x375) */
@media only screen and (min-width: 640px) and (max-width: 667px) {
  .trust_icon p{
    font-size: 13px !important;
  }
  .header-right-icons{
    float:right;
  }
  .single-category__content--three--creativehome {
    bottom: 10px;
  }
  /* .single-category{
    height: 220px;
    width: auto;
  }
  .single-category__image img {
    height: 220px;
  } */
  .banner_side {
    padding-right: 15px;
    padding-left: 15px;
  }
  .hover-banner-area .mb-30{
    padding-bottom: 15px;
  }
}

/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .single-category{
    height: 220px;
    width: auto;
  }
  .single-category__image img {
    height: 220px;
  }
}

/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .single-category{
    height: 220px;
    width: auto;
  }
  .single-category__image img {
    height: 220px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .single-category{
    height: 220px;
    width: auto;
  }
  .single-category__image img {
    height: 220px;
  }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  .single-category{
    height: 220px;
    width: auto;
  }
  .single-category__image img {
    height: 220px;
  }
}

.trust_slider .slick-list{
  text-align: -webkit-center;
  }


.trust_slider .slick-list {
  user-select: text !important;
}


