a.active {
  opacity: 1 !important;
  color: black;
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  border-top-color: #212529;
}

.page-item.active .page-link {
  background-color: #333333;
  border-color: #333333;
}

.breadcrumb-area h2 {
  font-size: 17px !important;
}
.category_list h1{
  line-height: 18px;
  font-size: 24px;
}
.price span.color_brown{
  font-size: 20px !important;
  color: #ad0101 !important;
}

a.read_more{
  text-decoration: underline;
  color: #ad0101;
}
a.read_less{
  text-decoration: underline;
  color: #ad0101;
}

a.read_more:hover{
  text-decoration: underline;
  color: #ad0101;
}
a.read_less:hover{
  text-decoration: underline;
  color: #ad0101;
}
.about-overlay .overlay-content {
  width: 290px;
  padding: 55px 20px;
}
h1 span{
  border-bottom: 1px dotted black;
}


h4{
  font-size: 16px;
}

@media only screen and (max-width: 375px) {
  .page-link  {
    padding: 0.3rem 0.35rem;
    margin-left: -2px
  }
}
@media only screen and (max-width: 600px) {
  .page-link  {
    /* padding: 0.4rem 0.4rem; */
    padding: 0.6rem 0.8rem;
    margin-left: -2px
  }
}

.single-product__floating-icons{
  top:8px;
  right:10px;
}

.single-product__floating-icons span a{
  width: 36px;
  height: 36px;
}


@media  screen and (min-device-width: 1920px) {
  .responsive_list{
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media  screen and (max-width: 1366px) {
  .responsive_list{
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media  screen and (max-width: 1600px) {
  .responsive_list{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media  screen and (max-width: 480px) {
  .responsive_list{
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 667px) {
  .responsive_list{
    flex: 0 0 50%;
    max-width: 50%;
  }
  h3.large_screen_content{
    display: none;
  }
  h3.small_screen_content{
    display: block !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .responsive_list{
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  h3.large_screen_content{
    display: none;
  }
  h3.small_screen_content{
    display: block !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .responsive_list{
    flex: 0 0 50%;
    max-width: 50%;
  }
}


