.q-slick-slider::after,
.q-slick-slider::before {
  content: "";
  width: 90px;
  height: 60px;
  position: absolute;
  left: 0;
}

.q-slick-slider::before {
  top: -30px;
  left: -85px;
  right: auto;
  background: url("../images/quote-left.png") no-repeat center;
}

.star {
  color: rgb(252, 88, 47);
}

.q-slick-slider p {
  font-size: 16px;
}

.single-category__content--three--creativehome .title p>a {
  font-size: 24px;
}

.q-slick-slider::after {
  bottom: -60px;
  left: auto;
  right: -100px;
  background: url("../images/quote-right.png") no-repeat center;
}

@media (max-width: 568px) {
  .q-slick-slider::after {
    width: 96px;
  }

  .q-slick-slider::before {
    width: 96px;
  }
}

@media (max-width: 980px) {
  .q-slick-slider::after {
    bottom: -80px;
    left: auto;
    right: 8px;
  }

  @media only screen and (max-width: 600px) {
    .lezada-button {
      width: auto;
    }
  }

  .q-slick-slider::before {
    top: -50px;
    left: 4px;
    right: auto;
  }
}

.trust_icon img {
  height: 100px !important;
}
.trust_icon p {
  font-size: 14px !important;
}


.lezada-button--small {
  font-size: 12px !important;
  padding: 8px 15px !important;
  border-radius: 0px !important;
}

.single-category__content--three--banner .title>a:hover {
  border-color: #333;
}


.trust_slider .slick-list{
  text-align: -webkit-center;
  }
